name: Build APK

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install system dependencies
        run: |
          sudo apt update
          sudo apt install -y \
            git zip unzip \
            build-essential \
            libffi-dev libssl-dev \
            liblzma-dev libbz2-dev \
            zlib1g-dev \
            openjdk-17-jdk

      - name: Install Buildozer
        run: |
          pip install --upgrade pip
          pip install cython buildozer

      - name: Build APK
        env:
          ANDROID_HOME: /usr/lib/android-sdk
          ANDROID_SDK_ROOT: /usr/lib/android-sdk
        run: |
          buildozer android debug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: FocusGuard-APK
          path: bin/*.apk
